package component

{{if .IsPrimitive -}}
type {{.ReceiverName}} {{template "schema.tmpl" .}}
{{- else if .IsObject -}}
type {{.ReceiverName}} {{template "schema.tmpl" . -}}
{{- else if .IsSlice -}}
type {{.ReceiverName}} {{template "schema.tmpl" . -}}
{{- end}}
