package generated

import "net/http"

var _ = http.MethodGet

type Controller interface{
    {{range .Path}}
        {{with .Value.Get}}
            {{$operation:=.OperationId | Title}} 
            {{$operation}} (*{{$operation}}Request) *{{$operation}}Response
        {{end}}
        {{with .Value.Post}} 
            {{$operation:=.OperationId | Title}} 
            {{$operation}} (*{{$operation}}Request) *{{$operation}}Response
        {{end}}
    {{end}}
}
