//this file is auto generated

package operation

{{range .Handlers -}}
type {{.Name}} interface {
  {{if .Body -}}
  Handle(params {{.Params}}, body {{ref .Body "operation"}}) Responder
  {{- else -}}
  Handle(params {{.Params}}) Responder
  {{- end}}
}

{{end -}}

type {{(index .Handlers 0).Params}} struct{}

{{range .Models -}}
  {{- if not .IsDefinedElsewhere -}}
    {{- if .IsPrimitive -}}
type {{.ReceiverName}} {{template "schema.tmpl" .}}
    {{- else if .IsObject -}}
type {{.ReceiverName}} {{template "schema.tmpl" . -}}
    {{- else if .IsSlice -}}
      {{if not .Items.IsDefinedElsewhere -}}
type {{.ReceiverName}} {{template "schema.tmpl" .}}
      {{- end}}
    {{- end}}
  {{- end}}
{{- end}}
