package generated

import "net/http"

var _ = http.MethodGet

{{range .Handlers -}}
type {{.Name}} interface {
  {{if .Body -}}
    {{if .Body.IsSlice -}}
      {{if .Body.IsDefinedElsewhere -}}
  Handle(params {{.Params}}, body {{.Body.GoType}}) Responder
      {{- else -}}
  Handle(params {{.Params}}, body []{{.Body.Items.GoType}}) Responder
      {{- end -}}
    {{- else -}}
  Handle(params {{.Params}}, body {{.Body.GoType}}) Responder
    {{- end -}}
  {{- else -}}
  Handle(params {{.Params}}) Responder
  {{- end}}
}
{{end}}

{{range .Models -}}
  {{- if not .IsDefinedElsewhere -}}
    {{- if .IsPrimitive -}}
type {{template "schema.tmpl" .}}
    {{- else if .IsObject -}}
{{template "schema.tmpl" .}}
    {{- else if .IsSlice -}}
      {{if not .Items.IsDefinedElsewhere -}}
{{template "schema.tmpl" .Items}}
      {{- end}}
    {{- end}}
  {{- end}}
{{- end}}
