{{if .IsPrimitive -}}
{{.GoType}}
{{- else if .IsObject -}}
struct {
  {{- range .Properties}}
  {{if .IsDefinedElsewhere -}}
  {{.ReceiverName}} {{.ReferenceType}}
  {{- else -}}
  {{.ReceiverName}} {{template "schema.tmpl" .}}
  {{- end -}}
  {{- end -}}
}
{{- else if .IsSlice -}}
[]{{ref .Items .Pkg}}
{{- end}}
