{{if .IsPrimitive -}}
{{.ReceiverName}} {{.GoType}}
{{- else if .IsObject -}}
type {{.GoType}} struct {
{{- range .Properties}}
  {{template "schema.tmpl" .}}
{{- end -}}
}
{{else if .IsSlice -}}
type {{.GoType}} []{{.Items.GoType}}
  {{- if not .Items.IsDefinedElsewhere -}}
{{template "schema.tmpl" .Items}}
  {{- end}}
{{- end}}
